{% extends 'base.html.twig' %}

{% block title %}COMBAT MOHAMED VS MAMADOU !{% endblock %}

{% block content %}

<div class="example-wrapper">
    <h1>Mohamed : {{ mohamed_score }}</h1>
    <h1>Mamadou : {{ mamadou_score }}</h1>
    <hr />
    <h1>Résultat : {{ state_combat }}</h1>
</div>
{% endblock %}
